# Base Config
home_name: CHANGEME
home_latitude: CHANGEME
home_longitude: CHANGEME
home_elevation: CHANGEME
home_time_zone: CHANGEME
http_password: CHANGEME
http_base_url: CHANGEME
mqtt_broker: CHANGEME
mqtt_port: CHANGEME
mqtt_username: CHANGEME
mqtt_password: CHANGEME
huebridge_hostname: CHANGEME
nodered_hostname: CHANGEME
pihole_hostname: CHANGEME
mopidy_hostname: CHANGEME
switch_play_room_lamp_hostname: CHANGEME
switch_jacobs_lamp_hostname: CHANGEME
switch_twinkle_lights_hostname: CHANGEME
switch_desk_lamps_hostname: CHANGEME
switch_holiday_lights_1_hostname: CHANGEME
switch_holiday_lights_2_hostname: CHANGEME

# API Keys
wunderground_key: CHANGEME
aws_access_key_id: CHANGEME
aws_secret_access_key: CHANGEME
aws_region: CHANGEME
