# Base Config
home_name: CHANGEME
home_latitude: CHANGEME
home_longitude: CHANGEME
home_elevation: CHANGEME
home_time_zone: CHANGEME
http_password: CHANGEME
mqtt_username: CHANGEME
mqtt_password: CHANGEME
insteon_hostname: CHANGEME
insteon_username: CHANGEME
insteon_password: CHANGEME
huebridge_hostname: CHANGEME
nodered_hostname: CHANGEME
pihole_hostname: CHANGEME
mopidy_hostname: CHANGEME
switch_kitchen_hostname: CHANGEME

# API Keys
wunderground_key: CHANGEME
aws_access_key_id: CHANGEME
aws_secret_access_key: CHANGEME
aws_region: CHANGEME
